<!-- prints before content -->
<div class="w3-top">
    <div class="w3-bar rho-green w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

        <a href="https://rhoinc.github.io/graphics/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
        <a href="https://rhoinc.github.io/publication-library/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Publications</a>
        <a href="https://www.github.com/RhoInc" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Code</a>
        <a href="https://rhoinc.github.io/viz-library/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Vizualizations</a>
        <a href="https://rhoinc.github.io/data-library/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Data</a>
        <a href="https://rhoinc.github.io/blog/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Blog</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="https://rhoinc.github.io/graphics/" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="https://rhoinc.github.io/publication-library/" class="w3-bar-item w3-button w3-padding-large">Publications</a>
        <a href="https://www.github.com/RhoInc" class="w3-bar-item w3-button w3-padding-large">Code</a>
        <a href="https://rhoinc.github.io/viz-library/" class="w3-bar-item w3-button w3-padding-large">Vizualizations</a>
        <a href="https://rhoinc.github.io/blog/" class="w3-bar-item w3-button w3-padding-large">Blog</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container rho-blue w3-center">
    <h1 class="w3-margin w3-jumbo">Rho Graphics - Data</h1>
</header>
