<!-- prints between body header and body footer; where the data library content is rendered -->
<div class="w3-row-padding w3-padding-16 w3-container" style="position:relative">
    <div style="" class="w3-content">
        <h1>About</h1>
        <h5>This page contains public data sets used to test our graphics at <a href="http://www.rhoworld.com">Rho</a>. All clinical-trial data are either simulated or have been published and released. </h5>
    </div>
</div>

<div class="w3-row-padding w3-padding-16 w3-container" style="position:relative">
    <div class = 'w3-content data-standard'>
        <h1>Data Library</h1>
        Browse our simulated clinical trial data below.
    </div>
    <div class = 'w3-content data-group'></div>
    <div class = 'w3-content web-codebook-container'></div>
</div>
