<title>Rho Graphics: [type]</title>
<link rel="shortcut icon" href="[nFolders]/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name='keywords' content="" >
<link rel="stylesheet" type="text/css" href=[nFolders]/main.css>
<link rel="stylesheet" type="text/css" href=https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,600,700">
